[data-spollers]._init [data-spoller] {
	cursor: pointer;
	padding: rem(10) rem(40) rem(10) rem(10);

	&::before,
	&::after {
		content: '';
		width: rem(20);
		height: rem(1);
		background-color: #fff;
		position: absolute;
		right: rem(10);
		top: rem(20);
		transition: transform 0.3s ease 0s;
	}

	&::after {
		transform: rotate(-90deg);
	}

	&._active::after {
		transform: rotate(0deg);
	}
}

[data-spoller] {
	width: 100%;
	text-align: left;
	font-size: rem(18);
	background-color: transparent;
	color: #fff;
	padding: rem(10);
	position: relative;
}