.header {
  background: #a8c4ff;
  padding: 20px 0;
  &__container {
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }
  &__logo {
    min-width: 100px;
    display: flex;
    justify-content: end;
    padding: 5px;
    background: white;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    @include adaptiveValue(column-gap, 40, 10);
  }
  &__link {
    text-transform: uppercase;
    font-weight: 600;
    color: #47444e;
  }
}

//======================================================================================================================================
// Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		height: 22.5px;
		width: 37.5px;
		cursor: pointer;
		z-index: 10;

		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}

		&::before {
			top: 0px;
		}

		&::after {
			bottom: 0px;
		}

		span {
			top: calc(50% - 1px);
		}

		&.menu-open {
			span {
				transform: scale(0);
			}

			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}

			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
